
.container {
  width: $container-width;
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  .header-toolbar {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10rem;
    align-items: center;

  }

  .header-menu {
    //width: 100%;
    //display: flex;
    //flex-direction: row;
    //flex-wrap: wrap;
  }

  .content {
    width: 100%;
    display: flex;
    flex-direction: row;

    .sidebar {
      width: 15%;
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
    }

    .posts {
      width: 75%;
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
    }

  }
}