@mixin popup-menu($z-index) {
  width: 300px;
  flex-direction: column;
  position: absolute;
  margin: 0.5rem 2rem;
  z-index: $z-index;
  background: $bg-dark;
  box-shadow: 3px 3px $shadow-dark;
}

.header-menu {
  background: $bg-dark;
  position: relative;

  .menu {

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    & > ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      list-style-type: none;

      & > li {
        padding: 0.5em;
        background-color: $bg-dark;

        & > ul.children {
          display: none;
          @include popup-menu(100);


          & > li {
            padding: 0.5em;
            background-color: $bg-dark;
            text-wrap: normal;
            position: relative;

            & > ul.children {
              display: none;
              left: 100%;
              top: 0;
              width: 300px;
              flex-direction: column;
              position: absolute;
              z-index: 200;
              background: $bg-dark;
              box-shadow: 3px 3px $shadow-dark;

              & > li {
                padding: 0.5em;
                background-color: $bg-dark;
                text-wrap: normal;

                &:hover {
                  background-color: $bg-blue;
                }
              }
            }

            &:hover {
              background-color: $bg-blue;

              & > ul.children {
                display: flex;
              }
            }
          }
        }

        &:hover {
          background-color: $bg-blue;

          & > ul.children {
            display: flex;

          }
        }
      }
    }

    a {
      color: $white;
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }
  }

}