
.header-text-style {
    font-family: $header-font;
    color: $header-light;
}

h1 {
    @extend .header-text-style;
    font-size: $h1-text-size;
}

h2 {
    @extend .header-text-style;
    font-size: $h2-text-size;
}

h3 {
    @extend .header-text-style;
    font-size: $h3-text-size;
}

h4 {
    @extend .header-text-style;
    font-size: $h4-text-size;
}

h5 {
    @extend .header-text-style;
    font-size: $h5-text-size;
}

h6 {
    @extend .header-text-style;
    font-size: $h6-text-size;
}

p, a, li, td {
    font-family: $header-font;
    font-size: $regular-text;
}