/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

$header-font: 'Open Sans', sans-serif;
$text-font: 'Roboto', sans-serif;

$display-text-size: 7rem;
$h1-text-size: 4rem;
$h2-text-size: 3.5rem;
$h3-text-size: 3rem;
$h4-text-size: 2.5rem;
$h5-text-size: 2rem;
$h6-text-size: 1.5rem;
$regular-text: 1rem;


/* color */
$black: #000000;
$white: #ffffff;

$header-color: #224970;
$header-light: #1059a1;

$regular-color: #212121;

$bg-light: #cecece;
$bg-dark: #434343;
$bg-blue: #224970;

$shadow-dark: rgba(32,32,32,0.5);


/* container */

$container-width: 1376px;

$sidebar-width: 15%;
